@model ProyectoRedes.Models.Player

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>



<h1> Players </h1>
<div class="playersView">
@foreach(var item in Model.otherPlayers)
{
   
    <h2>@item.name</h2>
        @if(item.isEnemy == true)
        {
            <div class="enemy">

            </div>
        }
        else
        {
            <div class="player">
            </div>
        }


 }
 </div>

    @if (Model.group != null && Model.votes != null && Model.status != null && Model.leader != null)
    {
         <h1>Group</h1>
            @foreach (var item in Model.group)
            {
                <h3>@item.ToString()</h3>
            }
                <h1>Votes</h1>
            @foreach (var item in Model.votes)
            {
                <h3>@item.ToString()</h3>
            }
        <h2>Leader:  @Model.leader</h2>
        <h2>status: @Model.status</h2>

    }
   